body {
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  height: 700px;
  background: linear-gradient(to bottom, rgba(234,253,32,0.3), lightblue),url('hero-bg.jpg');
}
#logo {
  font-size: 50px;
}

.nav > a {
  display: inline-block;
  padding: 0.5rem 1.6rem;
  margin: 2px;
  background-color: lightseagreen;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 20px;
  text-align: center;
  transition: all 0.25s ease-in;
}

.nav > a:hover {
  background-color: white;
  border: 1px solid seagreen;
  color: seagreen
}