<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>CSS Layouts</title>
</head>
<body>
  <main class="blog-posts">
  <article>
    <img src="https://images.pexels.com/photos/280229/pexels-photo-280229.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="blog-posts__img">
    <p class="blog-posts__date">Apr 29</p>
    <h2 class="blog-posts__title">Lorem, ipsum dolor.</h2>
    <p class="blog-posts__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero et, architecto impedit quos temporibus rem mollitia ipsam placeat nihil corporis.
    </p>
  </article>
  <article>
    <img src="https://images.pexels.com/photos/280229/pexels-photo-280229.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="blog-posts__img">
    <p class="blog-posts__date">May 17</p>
    <h2 class="blog-posts__title">Lorem, ipsum dolor.</h2>
    <p class="blog-posts__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero et, architecto impedit quos temporibus rem mollitia ipsam placeat nihil corporis.
    </p>
  </article>
  <article>
    <img src="https://images.pexels.com/photos/280229/pexels-photo-280229.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="blog-posts__img">
    <p class="blog-posts__date">Oct 08</p>
    <h2 class="blog-posts__title">Lorem, ipsum dolor.</h2>
    <p class="blog-posts__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero et, architecto impedit quos temporibus rem mollitia ipsam placeat nihil corporis.
    </p>
  </article>
</main>
</body>
</html>